@use '../abstracts/' as *;

.btn {
    color: #fff;
    background-color: #7d7665ba;
    padding: 14px 20px;
    background-image: linear-gradient(to bottom,rgba(255,255,255,.2) 0,rgba(255,255,255,.01) 100%);
    border-radius: 28px;
    font-size: 14px;
    &--color-blue {
        background: #049be5;
    }
    border: none;
    transition: 0.25s;
    &:hover {
        box-shadow: 2px 2px 8px 0px rgba(34, 60, 80, 0.15);
        background-color: #8e8776ba;
        cursor: pointer;
    }
}