@font-face {
    font-family: "CaviarDreams";
    font-style: normal;
    font-weight: 400;
    src: url("./CaviarDreams.ttf");
}
@font-face {
    font-family: "CaviarDreams";
    font-style: normal;
    font-weight: 900;
    src: url("./Caviar_Dreams_Bold.ttf");
}
@font-face {
    font-family: "CaviarDreams";
    font-style: italic;
    font-weight: 400;
    src: url("./CaviarDreams_Italic.ttf");
}
@font-face {
    font-family: "CaviarDreams";
    font-style: italic;
    font-weight: 900;
    src: url("./CaviarDreams_BoldItalic.ttf");
}